<h4 class="widget-title">Languages</h4>
<a href="#" class="language-link">日本語 (Japanese)</a><br>
<a href="#" class="language-link">English</a>
<h4 class="widget-title">Users Guide</h4>
<ul id="menu-item-list">
    <li><a href="/documents/index.html" class="menu-link">Documents</a></li>
    <ul>
        <li>Introduction</li>
        <ul>
            <li>Requirements</li>
            <li>Generator</li>
        </ul>
        <li>Controller</li>
        <ul>
            <li>Session</li>
            <li>Cookie</li>
            <li>URL Routing</li>
            <li>Access Control</li>
            <li>JSON/XML Response</li>
        </ul>
        <li>Model</li>
        <ul>
            <li>O/R Mapping</li>
            <li>SQL Query</li>
            <li>Transaction</li>
            <li>Partitioning</li>
            <li>Access MongoDB</li>
            <li>Object-Document Mapping on MongoDB</li>
        </ul>
        <li>View</li>
        <ul>
            <li>ERB</li>
            <li>Otama Template System</li>
            <li>Static Contents</li>
        </ul>
        <li>Helper Reference</li>
        <ul>
            <li>File Upload</li>
            <li>Authentication</li>
            <li>Validation</li>
            <li>Mailer</li>
            <li>Logging</li>
            <li>Plugin</li>
            <li>Image Manipulation</li>
            <li>Pagination</li>
            <li>Making Original Helper</li>
        </ul>
        <li>WebSocket</li>
        <li>Security</li>
        <li>Debug</li>
        <li>Test</li>
        <li>Deployment</li>
        <li>Cooperation with the Reverse Proxy Server</li>
        <li>Performance Comparison of Web Application Frameworks</li>
        <li>Performance</li>
    </ul>
    <li>API Reference</li>
    <li>FAQ</li>
    <li>Development</li>
</ul>